* {
padding:0;
margin:0;
box-sizing: border-box;
}

body {
  height: 100vh;
  background-color:gray;
}

.container {
  width: 400px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  background-color:grey;
  border-radius: 10px;
  box-shadow: 0 15px 25px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.dice-wrap {
  width:90%;
  display: flex;
  justify-content: space-around;
}

P {
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0;
  text-align:center;
  color:orange;
}

button {
  margin: 5px;
  background-color: orange;
  border: none;
  outline: none;
  color: black;
  padding: 15px;
  width: 170px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0 15px 25px grey;
}

.dice-wrap {
  width: 70px;
  height: 70px;
  color: orange;
  
}

.footer {
  font-size: 8px;
  color: orange;
}

